Validaciones/instrumentos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="origen">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="web" type="xs:anyURI"/> 
              <xs:element name="language" type="xs:string"/>
              <xs:element name="nota_legal" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="elaborado" type="xs:dateTime"/>
        <xs:element name="catalogo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="instrumento" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="marca" type="xs:string"/>
                    <xs:element name="precio" type="xs:decimal"/>
                    <xs:element name="stock" type="xs:integer"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                  <xs:attribute name="categoria" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="cuerda"/>
                        <xs:enumeration value="viento"/>
                        <xs:enumeration value="percusion"/>
                        <xs:enumeration value="teclado"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="proveedores">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proveedor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="pais" type="xs:string"/>
                    <xs:element name="contacto">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>