Validaciones/instrumentos.dtd

<!ELEMENT tienda (origen, elaborado, catalogo, proveedores )>
<!ELEMENT origen (nombre, web, language, nota_legal)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT nota_legal (#PCDATA)>
<!ELEMENT elaborado (#PCDATA)>
<!ELEMENT catalogo (instrumento+)>
<!ELEMENT instrumento (nombre, marca, precio, stock)>
<!ATTLIST instrumento 
    categoria CDATA #REQUIRED 
    id ID #REQUIRED>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT stock (#PCDATA)>
<!ELEMENT proveedores (proveedor+)>
<!ELEMENT proveedor (nombre, pais, contacto)>
<!ATTLIST proveedor
    id ID #REQUIRED>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT contacto (#PCDATA)>
